body{
    font-family: Arial, sans-serif; 
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: #fff;
    font-size: 25px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    
}

.menu{
    float: left;
    padding-left: 432px;
    
}

.menu li{
    float:left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat  ,url(../img/bg.jpg) center/cover no-repeat;
    
}

.title__container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
     
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}

.title__container2 h2{
    height: 300px;
    text-align: center;
    font-size: 35px;
    line-height: 108px
    color: #263244;
    font-weight: bold;
    
}
    .main2{
    width: 100%
    height: calc(100% - 60px);
    background: url(../img/3213123.jpg) 50% 30%/auto 50% no-repeat;
}
.title__container2 p{
    margin: 27px 0px 0px 60px;
    text-align: center;
    color: #3f495a;
}

.title__container2 input{
    height: 34px;
    text-align: center;
    border: 2px solid #6f707e;
    border-radius: 6px;
    color: #6f707e;
    font-size: 15px;
    margin: 40px 0px 0px 888px;
    
    
}
.main3{
    width: 100%;
    height: calc(100% - 50%);
    background: url(../img/kartinka.png) center/cover no-repeat;
}
.main3 h2{
    height: 222px;
    text-align: center;
    font-size: 35px;
    line-height: 104px;
    color: #263244;
    font-weight: bold;
}
.main4{
    float:left;
    text-align: center;
    width: 300px;
        
}
.main4 h3{
    margin-top: 35px;
    color: #cf7600;
    font-weight: bold;
    font-size: 20px;
}
.main4 p{
    margin-top: 20px;
}
.newClass{
    margin-left: 350px;
}
.main5{
     float:left;
    text-align: center;
    width: 300px;
}
.main5 h3{
     margin-top: 35px;
    color: #cf7600;
    font-weight: bold;
    font-size: 20px;
}
.main5 p{
    margin-top: 20px;
}
.little__container5{
    margin-left: 789px;
}
.main6{
    float:left;
    text-align: center;
    width: 300px;
}
.main6 h3{
     margin-top: 35px;
    color: #cf7600;
    font-weight: bold;
    font-size: 20px;
}
.main6 p{
    margin-top: 20px;
}
.main7{
    float:left;
    text-align: center;
    width: 300px;
}
.main7 h3{
     margin-top: 35px;
    color: #cf7600;
    font-weight: bold;
    font-size: 20px;
}
.main7 p{
    margin-top: 20px;
}
.main8 h2{
    height: 222px;
    text-align: center;
    font-size: 30px;
    line-height: 104px;
    color: #263244;
    font-weight: bold;
}
.main8 span{
    padding: 640px;
}
.main9{
    float: left;
}
.main9 h5{
    color: #384354;
   font-size: 20px;
    padding-left: 388px;
    font-weight: bold;
    
}
.main9 p{
    padding-left: 388px;
    margin-top: 15px;
    
    
}
.main9 h5{
    color: #384354;
    padding-left: 388px;
    margin-top: 17px;
    font-size: 20px;
    font-weight: bold;
}
.main9 p{
    padding-left: 388px;
    margin-top: 15px;
 }   
.main9 h3{
    margin-left: 388px;
    float: left;
    padding: 25px;
    margin-top: 50px;
    height: 40px;
    text-align: center;
    border: 4px solid #63b5ae;
    background-color: #63b5ae ;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}   

.main11 h4{
    color: #384354;
    padding-left: 674px;
    font-size: 20px;
    font-weight: bold;
    
}
.main11 p{
    padding-left: 674px;
    margin-top: 15px;
}
.main12 h2{
    color: #1c2534;
    padding-left: 807px;
    margin-top: 279px;
    font-size: 28px;
    font-weight: bold;
    
}
.main13 h3{
    color: #1c2534;
    padding-left: 499px;
    margin-top: 59px;
    font-size: 18px;
    font-weight: bold;
}
.main17{
    width: 100%;
    height: calc(100% - 320px);
    background: url(../img/fon33.jpg) center/cover no-repeat;
    
}
.main17 h2{
    height: 222px;
    text-align: center;
    font-size: 35px;
    line-height: 104px;
    color: #263244;
    font-weight: bold;
}
.main18{
    float:left;
    text-align: center;
    width: 300px;
}
.main18 h3{
     margin-top: 35px;
    color: #323e4f;
    font-weight: bold;
    font-size: 25px;
}
.main18 p{
    color: #323e4f;
    margin-top: 30px;
    font-weight: bold;
}
.newClass2{
    margin-left: 350px;
}
.main19{
    float:left;
    text-align: center;
    width: 300px;
}
.main19 h3{
     margin-top: 35px;
    color: #323e4f;
    font-weight: bold;
    font-size: 25px;
}
.main19 p{
    color: #323e4f;
    margin-top: 30px;
    font-weight: bold;
}

.main20{
    float:left;
    text-align: center;
    width: 300px;
}
.main20 h3{
     margin-top: 35px;
    color: #323e4f;
    font-weight: bold;
    font-size: 25px;
}
.main20 p{
    color: #323e4f;
    margin-top: 30px;
    font-weight: bold;
}
.main21{
    float:left;
    text-align: center;
    width: 300px;
}
.main21 h3{ 
    margin-top: 35px;
    color: #323e4f;
    font-weight: bold;
    font-size: 25px;
}
.main21 p{
    color: #323e4f;
    margin-top: 30px;
    font-weight: bold;
}

.main22 h2{
    height: 98px;
    text-align: center;
    font-size: 35px;
    line-height: 104px;
    color: #243042;
    font-weight: bold;
}
.main22 p{
    margin-top: 40px;
    text-align: center;
}
.main22 input{
    margin-top: 50px;
}
.main23{
    width: 100%;
    height: 800px;
    background: url(../img/fon2.jpg) center/cover no-repeat;
    
}
.main23 h2{
    height: 150px;
    text-align: center;
    font-size: 35px;
    line-height: 104px;
    color: #ffffff;
    font-weight: bold;
}
.main23 p{
    text-align: center;
    color: #ffffff;
}
.main24{
    margin-top: 35px;
    float: left;
    text-align: center;
    width: 300px;
    color: #ffffff;
}
.main24 p{
    margin-top: 20px;
}
.newClass3{
    margin-left: 500px;
}
.main25{
    margin-top: 35px;
    color: #ffffff;
    float: left;
    text-align: center;
    width: 300px;
}
.main25 p{
    margin-top: 20px;
}
.main26{
    margin-top: 35px;
    color: #ffffff;
    float: left;
    text-align: center;
    width: 300px;
}
.main26 p{
    margin-top: 20px;
}
.main27{
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    
}
.main30 select{
    
    margin-top: 30px;
    margin-left: 494px;
    line-height: 50px;
    height: 58px;
    background: none;
   
}
.main31{
    margin-left: 494px;
    margin-top: 65px;
    font-size: 20px;
    color: #1c2534;
    
}
.main32{
    margin-left: 494px;
    margin-top: 24px;
    font-size: 20px;
    color: #1c2534;
}
.main100{
    height: 150px;
}
.main33 input{
    color: #5d5d5e; 
    margin: 30px 15px 0px 15px;
    padding: 0px 80px;
    height: 29px;
    background-color: #d8dce2;
}
.main27 textarea{
    color: #5d5d5e;
    margin-top: 15px;
    background-color: #d8dce2;
}
.main23 h4{
    margin: 0px 880px;
    float: center;
    height: 30px;
    margin-top: 38px;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    background: none;
}