body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
    font-family: Franklin Gothic, sans-serif;
}

main {
    width: 100%;
    height: 100%;
}

.menu {
    float: left;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: aaa 0.4s ease forwards;
    -o-animation: aaa 0.4s ease forwards;
    animation: aaa 0.4s ease forwards;
    opacity: 0;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;

}

.title__container {
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
     opacity: 0;
   -webkit-animation: move 1s ease forwards;
    -o-animation: move 1s ease forwards;
    animation: move 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;

}

.title__container h1 {
    font-family: Arial, sans-serif;
    font-size: 72px;
    font-weight: 600;
}

.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}

.menu li a {
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #e88604;
}

.menu li a:active {
    transform: scale(1.1);
}

.title__container input {
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover {
    background: #344051;
    color: white;
}

.title__container input:active {
    transform: scale(1.1);
}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes aaa {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}

@keyframes move {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.white-btn:visited{
    color: white;
}

@media (max-width: 991px){
    .title__container, .title__container h4,.title__container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    
    .title__container input{
        border: 2px solid #fff;
    }
    .main{
        position: relative;
    }
    
    .mian::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
}

.title__container2 h2 {
    font-family: Franklin Gothic, sans-serif;
    height: 60px;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-decoration:underline;
    text-decoration-color: red;
    text-underline-offset: 15px;
  
}




.title__container2 p {
    margin: 27px 0px 0px 60px;
    text-align: center;
    color: #3f495a;
    
}

.main2 p::first-line{
    color: green;
}

.title__container2 input {
    height: 34px;
    text-align: center;
    border: 2px solid #6f707e;
    border-radius: 6px;
    color: #6f707e;
    font-size: 15px;
    margin-left: 600px;
    margin-top: 20px;


}
.title__container2 input{
    transition: all 0.3s;
    transform: scale(1);
}

.title__container2 input:hover{
    background: #344051;
    color: aqua;
}

.title__container2 input:active{
    transform: scale(1.1);
}

.main3 {
    width: 100%;
    height: calc(100% - 50%);
    background: url(../img/kartinka.png) center/cover no-repeat;
}

.main3 h2 {
    height: 222px;
    text-align: center;
    font-size: 35px;
    line-height: 104px;
    color: #263244;
    font-weight: bold;
    -webkit-animation: ggg 2s;
    -o-animation: ggg 2s;
    animation: ggg 2s;
}

@keyframes ggg{
    from{
        opacity: 0;
    }  
    to{
        opacity: 1;
    }
}

.main4 {
    float: left;
    text-align: center;
    width: 300px;

}

.main4 h3 {
    margin-top: 35px;
    color: #cf7600;
    font-weight: bold;
    font-size: 20px;
}

.main4 p {
    margin-top: 20px;
}

.newClass {
    margin-left: 350px;
    -webkit-animation: g1 0.4s;
    -o-animation: g1 0.4s;
    animation: g1 0.4s;
}
@keyframes g1{
    from{
        opacity: 0;
        margin-left: -500px;
    }  
    to{
        opacity: 1;
        margin-left: 0px;
    }
}


.main5 {
    float: left;
    text-align: center;
    width: 300px;
}

.main5 h3 {
    margin-top: 35px;
    color: #cf7600;
    font-weight: bold;
    font-size: 20px;
}

.main5 p {
    margin-top: 20px;
}

.little__container5 {
    margin-left: 789px;
}

.main6 {
    float: left;
    text-align: center;
    width: 300px;
}

.main6 h3 {
    margin-top: 35px;
    color: #cf7600;
    font-weight: bold;
    font-size: 20px;
}

.main6 p {
    margin-top: 20px;
}

.main7 {
    float: left;
    text-align: center;
    width: 300px;
}

.main7 h3 {
    margin-top: 35px;
    color: #cf7600;
    font-weight: bold;
    font-size: 20px;
}

.main7 p {
    margin-top: 20px;
}

.main8 h2 {
    height: 222px;
    text-align: center;
    font-size: 30px;
    line-height: 104px;
    color: #263244;
    font-weight: bold;
}

.main8 h2{
    padding: 30px 0 8px;
    position: relative;
}

.main8 h2::before{
    content: "";
    position: absolute;
    left: 950px;
    bottom: 100px;
    width: 100px;
    height: 8px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(143,2,34,1);
    z-index: -1;
}

.main8 span {
    padding: 640px;
}

.main9 {
    float: left;
}

.main9 h5 {
    color: #384354;
    font-size: 20px;
    padding-left: 388px;
    font-weight: bold;

}

.main9 p {
    padding-left: 388px;
    margin-top: 15px;


}

.main9 h5 {
    color: #384354;
    padding-left: 388px;
    margin-top: 17px;
    font-size: 20px;
    font-weight: bold;
}

.main9 p {
    padding-left: 388px;
    margin-top: 15px;
}

.main9 h3 {
    margin-left: 388px;
    float: left;
    padding: 25px;
    margin-top: 50px;
    height: 40px;
    text-align: center;
    border: 4px solid #63b5ae;
    background-color: #63b5ae;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.main9 p{
    transition: all 0.3s;
    transform: scale(1);
}

.main9 p:active{
    transform: scale(1.1);
}

.main9 h3{
    transition: all 0.3s;
    transform: scale(1);
}

.main9 h3:active{
    transform: scale(1.1);
}

.main11 h4 {
    color: #384354;
    padding-left: 674px;
    font-size: 20px;
    font-weight: bold;

}

.main11 p {
    padding-left: 674px;
    margin-top: 15px;
}

.box{
    width: 100%;
    border: 1px solid black;
    
}
   
.main12 h2 {
    color: #1c2534;
    padding-left: 807px;
    margin-top: 279px;
    font-size: 28px;
    font-weight: bold;

}

.main13 h3 {
    color: #1c2534;
    padding-left: 499px;
    margin-top: 59px;
    font-size: 18px;
    font-weight: bold;
}

.main30 select {
    color: #909090;
    margin-top: 30px;
    margin-left: 494px;
    line-height: 50px;
    height: 58px;
    background: #eeeeee;
    width: 754px;
    font-weight: bold;

}

.main31 {
    margin-left: 494px;
    margin-top: 65px;
    font-size: 20px;
    color: #1c2534;

}

.main32 {
    margin-left: 494px;
    margin-top: 24px;
    font-size: 20px;
    color: #1c2534;
}

.main17 {
    width: 100%;
    height: calc(100% - 320px);
    background: url(../img/fon33.jpg) center/cover no-repeat;
    background-attachment: fixed;

}

.main17 h2 {
    height: 222px;
    text-align: center;
    font-size: 35px;
    line-height: 104px;
    color: #263244;
    font-weight: bold;
}


.main19 {
    float: left;
    text-align: center;
    width: 300px;
}

.main19 h3 {
    margin-top: 35px;
    color: #323e4f;
    font-weight: bold;
    font-size: 25px;
}

.main19 p {
    color: #323e4f;
    margin-top: 30px;
    font-weight: bold;
}

.main20 {
    float: left;
    text-align: center;
    width: 300px;
}

.main20 h3 {
    margin-top: 35px;
    color: #323e4f;
    font-weight: bold;
    font-size: 25px;
}

.main20 p {
    color: #323e4f;
    margin-top: 30px;
    font-weight: bold;
}

.main21 {
    float: left;
    text-align: center;
    width: 300px;
}

.main21 h3 {
    margin-top: 35px;
    color: #323e4f;
    font-weight: bold;
    font-size: 25px;
}

.main21 p {
    color: #323e4f;
    margin-top: 30px;
    font-weight: bold;
}